
    body { 
background-color:rgb(251, 189, 189); 
    }
    p{
        color: #0022fd;
        font-size: 20px;
    }
    body { 
background-color:rgb(251, 189, 242); 
    }
    h1 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .escarcha {
        font-size: 60px;
    }
